<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <button
            onclick="window.location.href='/Venta/registrar';"
            class="btn btn-outline-success me-2"
            type="button"
          >
            INICIO
          </button>
          <button class="btn btn-sm btn-outline-secondary" type="button">
            LISTA DE VENTAS
          </button>
        </form>
      </nav>
  
</body>
</html>